/* angular-cli file: src/styles.css */
@import '../node_modules/primeicons/primeicons.css';

@import '../node_modules/primeng/resources/themes/lara-light-indigo/theme.css';

@import '../node_modules/primeng/resources/primeng.min.css';

@import "../node_modules/angular-calendar/css/angular-calendar.css";

@import '../node_modules/flatpickr/dist/flatpickr.css'; 






/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(#868080,#ffffff); background-repeat: no-repeat;
}
:host ::ng-deep .p-dropdown {
    font-size: 8px !important;
}
:host ::ng-deep .p-dropdown-label {
    font-size: 8px !important;
}
:host ::ng-deep .p-dropdown-trigger {
    font-size: 8px !important
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: #ffffff;
}


@media screen and (max-width: 960px) {
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: #000000;
}
.p-menubar .p-menubar-button {
    display: flex;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: 1;
    border-radius: 6px ;
}
}
.p-menubar {
    padding: 0.5rem;
    margin-top: 20px;margin-bottom: 20px; background:linear-gradient(#2e3137,#313f5c);
    padding-left:50px;padding-right:50px;padding-top:15px;border-radius: 10px;
    
   
    border: 0px solid #091d31; 
    border-radius: 6px;
}
input.form-control,input.form-control:focus{
    background-color: #636b7b;
    color: #fff;
    border: 1px solid #636b7b;
    margin-top:10px;
    margin-bottom:10px;
}

input.form-control:focus{
    box-shadow: none;
}

button[type=submit].btn{
    border-radius: 20px;
    background-color: #a0523a;
    color: #fff;
}

div.form-group label:not(.text-danger){
    color: #d6caca;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #fff;
    padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}

.wrapper {
    align-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }
  #inputTime.required{
     color:#2e3137;
    background:black;
    }
  /* Tabs */
.tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
  }

  .tab-header h2:focus {
      outline: none;
  }

  form{
      margin: 0px 16px;
  }

 div.form-group input.invalid{
    border: 1px solid #dc3545; 
 }
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }
.card{
    margin-top: 10px;
}