


<div class="container">
  <div class="row ">
<div class="col-12">
  <p-menubar [model]="items" >
    <ng-template pTemplate="start" >
      <img class="text-center" src="/assets/img/navitem.png" style="margin-top:10px; width: 50px; filter:invert()" ><a class="navbar-brand text-white display-6 text-center">Planer posiłków</a>
  </ng-template>
  
  <ng-template pTemplate="end">
    <div class="btn-group"><label  class=" btn btn-block" style="opacity: 90%;background-color: #ffffff;
    color: rgb(0, 0, 0);"><i class="fa-solid fa-user mr-2 fas  fa-sm fa-fw"></i> {{userDetails.userName}}</label>
    <button pButton type="button" class="btn btn-danger " (click)="onLogout()"><i class="fas fa-sign-out-alt" ></i>
    </button></div>
  </ng-template>
    
    <button pButton label="Logout" icon="pi pi-power-off"></button>
  </p-menubar>
</div></div>

<router-outlet></router-outlet>
</div>

    
          
